*.class
*.log

# sbt specific
dist/*
target/
javaPractice/target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
# SBT files
project/project
target

# IntelliJ IDEA project files
.idea
.idea_modules
*.iml
out
*.sc

# Eclipse project files
.classpath
.project
.settings